<!-- users.index.html.erb -->


  <h1>Welcome <%= current_user.first_name.capitalize %></h1>

  <%= link_to "Home", root_path %>

  Add a little structure to your life.
  <br>


  <br>

  <% if current_user.projects.empty? %>
      Get started by <%= link_to "creating your first project", new_user_project_path(@user)%>
  <% else %>
    <%= link_to "Add a new Project", new_user_project_path(@user) %>
<br><br>
    Your current Projects:<br>
    <% current_user.projects.each do |project| %>
      <p><%= link_to "Project Name: #{project.name}", user_project_path(@user, project) %></p>
    <% end %>
  <% end %>


