<!-- users.index.html.erb -->

<% if user_logged_in? %>

  <h1>Welcome <%= current_user.first_name.capitalize %></h1>

  <%= link_to "Home", root_path %>

  <%= link_to "Create a New Project", new_user_project_path(@user)%>

  <%= link_to "View Your Projects", user_projects_path(@user) %>

  <% else %>

      <% @users.each do |user| %>
        <li><br><strong>First Name:</strong> <%= user.first_name%>,<strong>Last Name:</strong> <%= user.last_name%>, <strong>Email:</strong> <%= user.email %>
      <% end %>

<%end%>
