<!-- projects.new.html.erb -->



<%= link_to "Back", users_path %>
<h3>Create a New Project</h3>

  <%= form_for([@user, @project]) do |f| %>
    <%= f.label(:name) %>
    <%= f.text_field(:name) %>

    <%= f.hidden_field(:user_id, :value => @user.id) %>

    <%= f.submit %>
  <% end %>

<br><br>
<h4>What is a Project?</h4>
<p>Glad you asked!
<br>
A project can be anything from a business plan, to a blog structure, to simply a way to keep track of articles or restaurants that you've heard about that you'd like to revisist later.
</p>
