<!-- projects.show.html.erb -->

<h1><%= @project.name %></h1>

<h4>Create Your First Compartment</h4>

  <%= form_for(@root_compartment) do |f| %>
    <%= f.label(:title) %>
    <%= f.text_field(:title) %>
    <%= f.label(:text_field) %>
    <%= f.text_field(:text_field) %>
    <%= f.hidden_field(:project_id) %>
    <%= f.submit %>
  <% end %>

  <% @project.compartments.each do |compartment| %>
    <li>
        <strong>Compartment Title:</strong> <a href="<%= compartment_path(compartment) %>"> <%= compartment.title %>,</a>
        <strong>Compartment Text:</strong> <%= compartment.text_field%>
        <strong>Parent Compartment</strong> <%= compartment.parent.title if compartment.parent %>
        <strong>Sibling Compartment</strong> <%= compartment.siblings %>

    </li>
  <% end %>
