<!-- projects.show.html.erb -->

<%= link_to 'Back', :back %>


<h1><%= @project.name %></h1>

<h4>Create a Root Compartment</h4>

  <%= form_for(@root_compartment) do |f| %>
    <%= f.label(:title) %>
    <%= f.text_field(:title) %>
    <%= f.label(:text_field) %>
    <%= f.text_field(:text_field) %>
    <%= f.hidden_field(:project_id) %>
    <%= f.submit %>
  <% end %>

<br><br>
History of Compartment Creation
  <% @project.compartments.each do |compartment| %>
    <li>
      <%= compartment.created_at%>
        <strong>Compartment Title:</strong> <a href="<%= compartment_path(compartment) %>"> <%= compartment.title %>,</a>
        <strong>Parent Compartment</strong> <%= compartment.parent.title if compartment.parent %>

    </li>
  <% end %>
